.mt5-trade-section {
    padding: 0px 0px 40px 0px;
}

.mt5-img {
    width: 50%;
    padding: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
}

.mt5-img img {
    width: 100%;
    object-fit: cover;
}

.mt5-text h1 {
    font-size: 3rem;
}
.aboutComponentSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landpage-text-container {
    width: 45%;
    text-align: left;
    padding: 40px 20px;
}

.landpage-text-container h1 {
    color: var(--dark-mild);
    font-size: 2.3rem;
    font-family: 'Montserrat';
}

.landpage-text-container p {
    color: var(--mild-color);
    margin-top: 20px;
}

.landpage-img-container {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-top: 10px;

}

.landpage-img-container .phone {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

/* From Uiverse.io by adamgiebl */
.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 1rem;
    text-transform: capitalize;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, rgb(59, 192, 199), #0b4c89);
    color: ghostwhite;
    overflow: hidden;
    font-family: "Palanquin",
        'Poppins',
        'Montserrat',
        sans-serif,
        'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
        
}

.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: rgb(5, 108, 142);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}

@media (max-width: 990px) {
    .mt5-wrapper {
        flex-direction: column-reverse;
    }

    .mt5-text {
        margin-top: 40px;
    }

    .mt5-text h1 {
        font-size: 2.5rem;
    }

    .mt5-img {
        width: 100%;
        height: auto;
        display: none;
    }

    .mt5-img img {
        object-fit: contain;
        width: 100%;
    }
}